/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 357px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .remember-me {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  
  .sign-up {
    margin-top: 20px;
    font-size: 14px;
    color: #444;
  }
  
  .sign-up a {
    color: #4CAF50;
    text-decoration: none;
  }

  .social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-login button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.redesSociales {
    background-color: #317533;
    color: white;
}

